streamlit
openai
langchain_openai
langchain
langchain-community
pinecone-client
gspread
oauth2client
langchain_pinecone
streamlit-extras
streamlit-cookies-manager
streamlit-oauth
google-auth
google-auth-oauthlib
google-auth-httplib2
streamlit-tags
